# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app

# CMake files
CMakeCache.txt
CMakeFiles
*.cmake
build/

# Binary files
r-type_server
r-type_client

# Vscode
.vscode/

# Dynamic libraries
*.so
